@tailwind base;
@tailwind components;
@tailwind utilities;
.full-bg{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.weather-tabs .react-tabs__tab-list{
    border-bottom: none;
}
.weather-tabs .react-tabs__tab{
    font-size: 14px;
    border: none;
    background: #f4f5f7;
    margin-right: 10px;
    border-radius: 10px;
}
.react-tabs__tab--selected{
    color: #da773d;
}
.fill-available{

        width: -webkit-fill-available;
    
}
.modal-header{
    background: #f07c39;
    color: #fff;
    padding: 7px 15px;
    align-items: center;
    display: flex;
    border: none;
    justify-content: space-between;
}
.modal-header .close{
   cursor: pointer;
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open{
    background-color: #2826269e!important;
}
.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
.temp-table{
width: 100%;
}
.temp-table th{
    font-size: 12px;
    font-weight: 300;
    min-width: 60px;
}
.temp-table th.font-semibold {
    font-weight: 600;
}
